{% extends 'master.html' %}

{% block title %}
    
{% endblock %}

{% block body_block %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
		<link rel="stylesheet" type="text/css" href="path/to/your/custom.css">
		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>	
	</head>

	<body background="none">
		<center><h1>Candidate Details</h1></center>
		<hr>
		<table id="my_table" border="2" background-color="none">
			<thead border="2" align="center">
				
				<tr>
					<th>first_name</th>
                    <th>last_name</th>
                    <th>email</th>
                    <th>qualifications</th>
                    <th>skills</th>
                    <th>experience</th>
                    <th>contact</th>
                    <th>address</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
        
        

		
		<script>
			$(document).ready(function() {
				var table = $('#my_table').DataTable({
				  "processing": true,
				  "serverSide": false,
				  "ajax": {
					"url": "{% url 'dataJson' %}",
					"dataSrc":"data",
				  },
				  "columns": [
					{"data": "first_name"},
					{"data": "last_name"},
					{"data": "email"},
					{"data": "qualifications_id"},
					{"data":"skills"},
					{"data":"experience"},
					{"data":"contact"},
					{"data":"address"},
				  ],
				});
				
				// Create a new table row to hold the search inputs
				var searchRow = $("<tr></tr>");
				$("#my_table thead").append(searchRow);
				
				// Loop through the columns and add a search input for each column
				$('#my_table thead th').each( function () {
				  var title = $('#my_table thead th').eq( $(this).index() ).text();
				  if (title !== "contact" && title !== "address") {  // exclude the "contact" and "address" columns
					var searchInput = $('<input type="text" placeholder="Search '+title+'" />');
				
					// Add the input to the search row
					var searchTd = $("<td></td>").append(searchInput);
					searchRow.append(searchTd);
				
					// Add an event listener to the input to trigger a search and redraw the table
					searchInput.on('keyup change', function () {
					  table
						.column($(this).parent().index())
						.search(this.value)
						.draw();
					});
				  }
				});
			  });
			  
			  
			  
			  
			  
		</script>
	</body>
</html>

{% endblock %}
