{% extends 'master.html' %}

{% block title %}
    
{% endblock %}

{% block body_block %}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
	</head>
	<body background="none">
		<center><h1>Candidate Details</h1></center>
		<hr>
		<table id="my_table" border="2" background-color="none">
			<thead border="2">
				<tr>
					<th>first_name</th>
                    <th>last_name</th>
                    <th>email</th>
                    <th>qualifications</th>
                    <th>skills</th>
                    <th>experience</th>
                    <th>contact</th>
                    <th>address</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
        
        <!-- columns = ['first_name', 'last_name', 'email','skills','experience','contact','address'] -->

		<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
		<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
		<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"></script>
		<!--<script >$(document).ready( function () { $('#data_table').DataTable(); });</script>-->
		<script>
			$(document).ready(function() {
				$('#my_table').DataTable({
					"processing": true,
					"serverSide": false,
					"ajax": {
						"url": "{% url 'dataJson' %}",
						"dataSrc":"data",
						},
						"columns": [
							{"data": "first_name"},
							{"data": "last_name"},
							{"data": "email"},
							{"data": "qualifications_id"},
							{"data":"skills_id"},
							{"data":"experience"},
							{"data":"contact"},
							{"data":"address"},
						],
					});
					});
		
		</script>
	</body>
</html>

{% endblock %}
